<%- include('../common/header'); %>
<link rel="stylesheet" href="/css/styles-shop.css" />
<%- include('../common/navbar') %>
<style>
  .login-form {
    background-color: rgb(209, 235, 116);
    margin-top: 150px;
    padding: 20px;
    border-radius: 0.45rem;
  }
</style>
<div class="container">
  <form action="/sign-up" method="post">
    <input type="hidden" name="_csrf" value="<%= token %>">
    <div class="form-group col-md-6" style="margin: auto">
      <div class="login-form">
        <div class="mb-3">
          <h1
            class="text-center"
            style="
              color: #124670;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            "
          >
            E-MART
          </h1>
        </div>
        <div class="mb-3">
            <label for="name" class="ps-2 form-label">Name</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="name"
            />
          </div>
        <div class="mb-3">
          <label for="email" class="ps-2 form-label">Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="Password" class="ps-2 form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
            <label for="Password" class="ps-2 form-label">Confirm Password</label>
            <input
              name="confirmPassword"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        <div class="mb-3 text-center">
          <input
            type="submit"
            name="submit"
            value="Sign Up"
            class="btn btn-outline-dark"
            style="width: 50%"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<%- include('../common/footer') %>
