<%- include('common/header.ejs') %>
<link rel="stylesheet" href="/css/styles-shop.css">
</head>
<body>
    <%- include('common/navbar.ejs') %>
    <div class="container main">
        <h1>Page Not Found!!</h1>
    </div>
</body>
</html>